body {
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans'
}
.red{
  color: orangered;
}
.width_97{
  width: 97%;
}
.height_97{
  height: 97%;
}
.width_93{
  width: 93%;
}
.width_92{
  width: 92%;
}

.head_button{
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  transition-duration: .3s;
  border-radius: 15px;
  color: #fff;
  background: rgba(200, 200, 200, 0.3);
}
.head_button:hover{
  background: rgba(200, 200, 200, 0.6);
}
.indent20{
  text-indent: 20px;
}
* {
  margin: 0;
  padding: 0;
}
.img_blue{
  background: rgba(3, 81, 87, 1.0);
}
.green{
  color: rgba(4, 181, 169, 1.0)
}
.img_green{
  background: rgba(161, 214, 137, 1.0);
}
.font_size_35{
  font-size: 25px;
}
.ddd {
  color: rgb(180, 180, 180);
}
.gray_1 {
  color: rgb(100, 100, 100);
}

.gray {
  color: rgb(50, 50, 50);
}
.font_size_40{
  font-size: 40px;
}
.font_size_50{
  font-size: 50px;
}
.pc_margin_top-70px{
  margin-top: -70px;
}
.margin_top_200px{
  margin-top: -200px
}
.font_size_60{
  font-size: 60px;
}
.font_size_80{
  font-size: 80px;
}
.nownet_button {
  /* display: inline-block; */
  background-color: #82b541;
  padding: 15px 20px;
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.border_top_0 {
  border-top: 1px solid transparent;
}

.vertical_middle {
  vertical-align: middle;
}

.vertical_top {
  vertical-align: top;
}
.vertical_bottom {
  vertical-align: bottom;
}

.cursor {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

.wrop {
  flex-wrap: wrap;
}
.nowrop {
  flex-wrap:nowrap;
}

.back_white {
  background: #fff;
}

.white {
  color: #fff
}

html {
  font-size: 10px;
}

.margin_auto {
  margin: auto;
}
.full_div{
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
}
.padding_right_1 {
  padding-right: 10px;
}

.padding_left_1 {
  padding-left: 1rem;
}

.padding_left_20 {
  padding-left: 20px;
}
.padding_left_20p {
  padding-left: 20%;
}
.padding_left_10p {
  padding-left: 10%;
}

.padding_top_20 {
  padding-top: 2rem;
}

.padding_top_30 {
  padding-top: 3rem;
}

.padding_top_70 {
  padding-top: 7rem;
}

.padding_1 {
  padding: 1rem;
}

.padding_bottom_harf {
  padding-bottom: .5rem;
}

.padding_bottom_15 {
  padding-bottom: 10px;
}
.padding_bottom_20 {
  padding-bottom: 2rem;
}

.padding_bottom_30 {
  padding-bottom: 3rem;
}

.wsnp {
  white-space: nowrap;
}

.align_baseline {
  align-items: baseline
}

.iconfont {
  font-size: none;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_20 {
  margin-top: 2rem;
}

.margin_top_3 {
  margin-top: 3rem;
}
.margin_top_30_p {
  margin-top: 30%;
}

.margin_top_40_p {
  margin-top: 40%;
}
.margin_top_60_p {
  margin-top: 60%;
}
.margin_bottom_60_p {
  margin-bottom: 60%;
}

.margin_top_4 {
  margin-top: 4rem;

}

.margin-bottom-white {
  margin-top: 2rem;
}

.width_100 {
  width: 100%;
}

.width_90 {
  width: 90%;
}

.width_80 {
  width: 80%;
}

.width_65 {
  width: 65%;
}

.width_60 {
  width: 60%;
}

.width_495 {
  width: 49.5%;
}

.width_49 {
  width: 49%;
}

.width_48 {
  width: 48%;
}

.width_47 {
  width: 47%;
}

.width_50 {
  width: 50%;
}

.width_45 {
  width: 45%;
}

.width_40 {
  width: 40%;
}

.width_33 {
  width: 33%;
}

.width_30 {
  width: 30%;
}

.width_25 {
  width: 25%;
}

.width_19 {
  width: 19%;
}

.width_18 {
  width: 18%;
}

.width_245 {
  width: 24.5%;
}

.z_index100 {
  z-index: 100;
}

.width_15 {
  width: 15%;
}

.height_40 {
  height: 40%;
}

.height_50 {
  height: 50%;
}
.height_100 {
  height: 100%;
}

.font_size_4 {
  font-size: 0.8rem;
}

.display_none {
  display: none;
}

.display_inline_block {
  display: inline-block;
}

.display_flex {
  display: flex;
}

.display_block {
  display: block;
}

.flex_row {
  flex-direction: row;
}

.flex_align_stretch {
  align-items: stretch
}

.flex_column {
  flex-direction: column;
}

.flex_1 {
  flex: 1;
}

.flex_15 {
  flex: 1.5;
}

.flex_2 {
  flex: 2
}

.flex_item_full {
  align-items: stretch;
}

.flex_align_end {
  align-items: flex-end
}

.flex_align_center {
  align-items: center;
}

.font_size_1 {
  font-size: 1rem
}

.font_size_2 {
  font-size: 1.2rem
}

.font_size_3 {
  font-size: 1.3rem
}

.font_size_4 {
  font-size: 1.4rem
}

.font_size_5 {
  font-size: 1.5rem
}

.font_size_6 {
  font-size: 1.6rem
}

.font_size_7 {
  font-size: 1.7rem
}

.font_size_8 {
  font-size: 1.8rem
}

.font_size_9 {
  font-size: 1.9rem
}

.font_size_15 {
  font-size: 1.5rem
}

.font_size_20 {
  font-size: 2rem
}

.font_size_21 {
  font-size: 2.1rem
}

.font_size_30 {
  font-size: 3rem
}

.font_size_36 {
  font-size: 3.6rem;
}

.font_size_40 {
  font-size: 4rem
}

.font_size_60 {
  font-size: 6rem
}
.font_size_100{
  font-size: 100px;
}
.flex_jusify_space {
  justify-content: space-between;
}
.z_index_0{
  z-index: 0;
}
.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.box_szing {
  box-sizing: border-box
}

.margin_left_1 {
  margin-left: 0.1rem;
}

.margin_left_2 {
  margin-left: 0.2rem;
}

.margin_left_3 {
  margin-left: 0.3rem;
}

.margin_left_4 {
  margin-left: 0.4rem;
}

.margin_left_5 {
  margin-left: 0.5rem;
}

.margin_left_14 {
  margin-left: 1.4rem;
}

.margin_left_15 {
  margin-left: 1.5rem;
}

.margin_left_16 {
  margin-left: 1.6rem;
}

.margin_left_17 {
  margin-left: 1.7rem;
}

.margin_left_18 {
  margin-left: 1.8rem;
}

.margin_left_20 {
  margin-left: 2rem;
}

.margin_left_22 {
  margin-left: 2.2rem;
}

.margin_left_28 {
  margin-left: 2.8rem;
}
.width_55{
  width: 55%;
}
.margin_left_38 {
  margin-left: 3.8rem;
}
.align_self_end{
  align-self:flex-end;
}
.align_self_auto{
  align-self:auto;
}
.align_self_start{
  align-self:flex-start ;
}

.flex_end {
  justify-content: flex-end;
}
.flex_center {
  justify-content: center;
}

.flex_center {
  justify-content: center;
}
.align_items_end{
  align-items:flex-end;
}
.margin_right_20 {
  margin-right: 2rem;
}

.margin_top_1 {
  margin-top: 1rem
}

.margin_bottom_1 {
  margin-bottom: 1rem
}

.margin_bottom_15 {
  margin-bottom: 1.5rem
}

.margin_bottom_2 {
  margin-bottom: 2rem
}

.margin_bottom_3 {
  margin-bottom: 3rem
}

.margin_bottom_4 {
  margin-bottom: 4rem
}

.position_relative {
  position: relative
}

.overflow_scroll {
  overflow: scroll;
}

.overflow_x_scroll {
  overflow-x: scroll;
}

.overflow_hidden {
  overflow: hidden
}

.hoverdiv {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.position_absolute {
  position: absolute
}

.position_fixed {
  position: fixed;
}

.transition4{
  transition-duration: .4s;
}
.width_70{
  width: 70%;
}
.pcs {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1002;
  transition: .4s;
  transform: translate(-50%, -50%);
}

.blur {
  background: inherit;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=15, MakeShadow=false);
}

.text_decoration_overlin {
  text-decoration: line-through;
}

.text_decoration_underline {
  text-decoration: underline;
}

.font_weight_200 {
  font-weight: 200;
}

.font_weight_400 {
  font-weight: 400;
}

.font_weight_600 {
  font-weight: 600;
}

.font_weight_800 {
  font-weight: 800;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.nscrol::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none;
}

/* 大于800的样式 */
.media_wrop_800 {
  flex-wrap: nowrap;
}

.media_display_800 {
  display: inline-block;
}

.media_width_80_800 {
  width: 80%;
}

.media_flex_row_800 {
  flex-direction: row;
}

.media_width_20_800 {
  width: 20%;
}

.media_width_40_800 {
  width: 40%;
}

.media_width_50_800 {
  width: 50%;
}

.media_height_300 {
  height: 700px;
}

.el-message.msg {
  min-width: 340px;
}




.media_screen_block {
  display: none;
}

.media_screen_none {
  display: block;
}

.pc_show {
  display: block;
}

.phone_show {
  display: none;
}


.table_text_center th,
.table_text_center td {
  text-align: center;
}

.el-dialog {
  margin-bottom: 20px;
}

.margin_left_5p {
  margin-left: 5%;
}

.line_height_25px {
  line-height: 22px;
}

.line_height_27px {
  line-height: 27px;
}

.width_80_pc {
  width: 80%;
}

@media screen and (min-width: 800px) {
  .pc_flex {
    width: 94%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .pc_flex>div {
    width: 24%;
  }
}


/* 动画 */

.transform_duration1 {
  transition-duration: 1s;
}
.transform_duration15 {
  transition-duration: 1.5s;
}

.transform_duration2 {
  transition-duration: 2s;
}
.scale1_10{
  transform: scale(0.1);
}
.transilateY1 {
  transform: translateY(100px);
}

.transilateY2 {
  transform: translateY(200px);
}

.transilateY3 {
  transform: translateY(300px);
}

.transilateY4 {
  transform: translateY(400px);
}

.transilateY5 {
  transform: translateY(500px);
}
.transilate-Y2 {
  transform: translateY(-200px);
}
.transilateX1 {
  transform: translateX(100px);
}

.transilateX2 {
  transform: translateX(200px);
}

.transilateX3 {
  transform: translateX(300px);
}

.transilateX4 {
  transform: translateX(400px);
}

.transilateX5 {
  transform: translateX(500px);
}

.transilateX6 {
  transform: translateX(600px);
}


.transilateX-1 {
  transform: translateX(-100px);
}

.transilateX-2 {
  transform: translateX(-200px);
}

.transilateX-3 {
  transform: translateX(-300px);
}

.transilateX-4 {
  transform: translateX(-400px);
}

.transilateX-5 {
  transform: translateX(-500px);
}

.top_50px{
  transform: translateY(-50px);
}
.top_30px{
  transform: translateY(-30px);
}

.transilateX-6 {
  transform: translateX(-600px);
}
.margin_top_72px{
  margin-top:72px;
}

.transition_back .transilateX1,
.transition_back .transilateX2,
.transition_back .transilateX3,
.transition_back .transilateX4,
.transition_back .transilateX5,
.transition_back .transilateX6,
.transition_back .transilateY1,
.transition_back .transilateY2,
.transition_back .transilateY3,
.transition_back .transilateY4,
.transition_back .transilateY5,
.transition_back .transilateY6,
.transition_back .transilateX-1,
.transition_back .transilateX-2,
.transition_back .transilateX-3,
.transition_back .transilateX-4,
.transition_back .transilateX-5,
.transition_back .transilateX-6,
.transition_back .transilate-Y2,
.transition_back .phone_transilate_X1,
.transition_back .phone_transilate_X2,
.transition_back .phone_transilateX1,
.transition_back .phone_transilateX2,
.transition_back .phone_transilate_Y1,
.transition_back .phone_transilate_Y1,
.transition_back .phone_transilateY1,
.transition_back .phone_transilateY1
{
  transform: translate(0px);
}

.transition_back .scale1_10{
  transform: scale(1);
}

.overflow_y_hidden{
  overflow-y: hidden;
}
.margin_top_70px{
  margin-top: 70px;
}
@media screen and (max-width:800px) {
  .phone_overflow_x_hidden{
    overflow-x: hidden;
  }
  .overflow_y_hidden{
    overflow-y: auto;
  }
  .phone_transilate_X1 {
    transform: translateX(-100px);
  }
  .phone_transilate_X2 {
    transform: translateX(-200px);
  }
  .phone_transilateX1 {
    transform: translateX(100px);
  }
  .phone_transilateX2 {
    transform: translateX(200px);
  }
  .phone_transilateY1 {
    transform: translateY(100px);
  }
  .phone_transilateY2 {
    transform: translateY(200px);
  }
  .phone_transilate_Y1 {
    transform: translateY(-100px);
  }
  .phone_transilate_Y2 {
    transform: translateY(-200px);
  }
  .phone_overflow_y_scroll{
    overflow-y: scroll;
  }
  .phone_margin_top_60px{
    margin-top: 60px;
  }
  .phone_center_text{
    text-align: center;
  }
  .phone_flex_1{
    flex:1
  }
  .phone_column{
    flex-direction: column;
  }
  .phone_relative{
    position: relative;
  }
  .phone_flex{
    display: flex;
  }
  .pc_show {
    display: none;
  }
  .phone_height_auto{
    height: auto;
  }
  .phone_width_100{
    width: 100%;
  }
  .phone_width_90{
    width: 90%;
  }
  .phone_margin{
    margin: auto;
  }
  .phone_show {
    display: block;
  }
  .margin_top_70px{
    margin-top: 70px;
  }
  .el-message {
    width: 90%;
  }

  .meidia_margin_top_3 {
    margin-top: 3px;
  }

  .media_width_100px_800 {
    width: 100%;
  }

  .media_screen_none {
    display: none;
  }

  .media_screen_block {
    display: block;
  }

  .display_by_screen_800 {
    display: block;
  }

  .media_wrop_800 {
    flex-wrap: wrap;
  }

  .media_width_80_800 {
    width: 100%;
  }

  .el-dialog {
    width: 90%;
  }

  .media_flex_row_800 {
    flex-direction: column;
  }

  .media_width_20_800 {
    width: 100%;
  }

  .media_width_40_800 {
    width: 100%;
  }

  .media_width_50_800 {
    width: 100%;
  }

  .media_height_300 {
    height: 300px;
  }
}

/* 小于800 的尺寸 */
@media screen and (max-width:800px) {
  .phone_font_size_30px{
    font-size: 30px;
  }
  
  .pc_margin_top-70px{
    margin-top: 0px;
  }
  .phone_margin_top_20px{
    margin-top: 20px;
  }
  .phone_margin_top_0{
    margin-top: 0;
  }
  .el-message {
    width: 90%;

  }
  .phone_block{
    display: block;
  }
  .phone_none{
    display: none;
  }
  .meidia_margin_top_3 {
    margin-top: 3px;
  }

  .media_width_100px_800 {
    width: 100%;
  }

  .media_screen_none {
    display: none;
  }

  .display_by_screen_800 {
    display: block;
  }

  .media_wrop_800 {
    flex-wrap: wrap;
  }

  .media_width_80_800 {
    width: 100%;
  }

  .el-dialog {
    width: 90%;
  }

  .media_flex_row_800 {
    flex-direction: column;
  }

  .media_width_20_800 {
    width: 100%;
  }

  .media_width_40_800 {
    width: 100%;
  }

  .media_width_50_800 {
    width: 100%;
  }

  .media_height_300 {
    height: 300px;
  }
}